{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}

{% block auth %}
    
    <div class="login-form-container" style="width: 300px; margin: auto;margin-top:50px">
        <h1>QuestionTime</h1>
        <p class="lead text-muted">Condividi la tua Conoscenza!</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-sm btn-outline-primary">Login</button>
        </form>
        <p class="mt-4">Oppure <a href="{% url 'django_registration_register' %}">Registra un Account </a></p>
    </div>
{% endblock auth %}