{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}

{% block auth %}
    <div class="registration-form-container" style="width: 400px;margin: auto; margin-top:50px">
        <h1>Crea un account</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-sm btn-outline-primary">registrati</button>
        </form>
        <p class="mt-4">Oppure <a href="{% url 'login' %}">Effettua il Login</a></p>
    </div>
{% endblock auth %}